@font-face {
    font-family: 'harry potter';
    src: url('../fonts/HARRYP__.TTF')
}

@font-face {
    font-family: 'light';
    src: url('../fonts/ClaphappyLight.ttf')
}

header {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
    margin: 0px;
}

#icon {
    width: 50px;
}

nav ul {
    display: flex;
}


nav ul li {
    list-style: none;
    text-decoration: none;
    margin: 0px 16px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

body {
    margin: 0px 0px;
    font-family: light;
    font-size: 17px;
}

body section article h1 {
    font-family: 'harry potter';
    font-size: 80px;
    margin: 20px 30px;
}

#box {
    margin: 0px 15px;
}

footer {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
    margin: 0px;
    color: black;
}